/* MessageStack.module.css */

.messageStack {
    position: fixed;
    bottom: 20px; /* Mantener en la parte inferior */
    right: 50%; /* Centrar horizontalmente */
    transform: translateX(50%); /* Ajuste para centrar en la mitad de la pantalla */
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar verticalmente */
    max-height: 70vh; /* Ajustar según sea necesario */
    width: 100%; /* Asegurarse de que ocupe el ancho completo */
    box-sizing: border-box; /* Incluir padding y borde en el ancho total */
    
}

.approvalMessageContainer,
.errorMessageContainer {
    background-color: rgba(0, 150, 0, 0.9); /* Verde para aprobación */
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    animation: fadeInOut 3s ease-in-out forwards; /* Añadir forwards para mantener el estado final */
    display: flex;
    align-items: center; /* Centrar verticalmente el icono y el texto */
    gap: 8px; /* Espacio entre el icono y el texto */
    font-size: 20px;
}

.approvalIcon,
.errorIcon {
    width: 25px; /* Cambia el tamaño si es necesario */
    height: 25px; 
    margin: 0;
}

.errorMessageContainer {
    background-color: rgba(255, 0, 0, 0.9); /* Rojo para error */
}

/* Animación de fade in y fade out */
@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    10% {
        opacity: 1;
        transform: translateY(0);
    }
    90% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

/* Estilos para pantallas grandes (PC) */
@media (min-width: 1024px) {
    .approvalMessageContainer,
    .errorMessageContainer {
        padding: 15px;
        font-size: 20px;
    }
}

/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    .approvalMessageContainer,
    .errorMessageContainer {
        padding: 8px;
        font-size: 0.9rem;
    }
}
