/* AdminNavbar.module.css */

.navbar {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px 24px;
  display: flex; /* Asegúrate de que la navbar sea flex para posicionar el mensaje */
  justify-content: space-between; /* Distribuye el espacio entre título e iconos */
  align-items: center; /* Centra verticalmente los elementos */
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: #2d3748;
}

.iconsContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.iconButton {
  padding: 8px;
  border-radius: 50%;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconButton:hover {
  background-color: #f3f4f6;
}

.icon {
  width: 24px;
  height: 24px;
  color: #4a5568;
}

.notificationBadge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px;
}

.notificationPanel {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  max-height: 300px;
  overflow-y: auto;
  padding: 10px;
}

.notificationItem {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.clearButton,
.removeButton {
  background: none;
  border: none;
  cursor: pointer;
  color: red;
}

.removeButton {
  margin-left: 10px;
}

.notificationMessage {
  background-color: #f0f8ff; /* Color de fondo suave */
  color: #333; /* Color de texto oscuro */
  padding: 10px 20px; /* Padding para el mensaje */
  border-radius: 5px; /* Bordes redondeados */
  font-weight: bold; /* Texto en negrita */
  margin-left: 20px; /* Margen izquierdo para separarlo del título */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
  animation: fadeInOut 3s ease-in-out forwards; /* Animación de fade in y fade out */
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-10px); /* Empieza un poco arriba */
  }
  10%, 90% { /* Visible durante la mayor parte del tiempo */
    opacity: 1;
    transform: translateY(0); /* Posición normal */
  }
  100% {
    opacity: 0;
    transform: translateY(-10px); /* Termina un poco arriba */
  }
}