.sidebar {
  width: 300px;
  background-color: #fff;
  border-right: 1px solid #ddd;
  margin-right: 20px;
  height:100%;
}

.profileHeader {
  text-align: center;
  margin-bottom: 20px;
  padding: 10px 20px;
}

.profileImage {
  border-radius: 50%;
}

.placeholderImage {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin: 0 auto;
}

.userName {
  font-size: 1.2rem;
  margin-top: 10px;
}

.userEmail {
  color: #555;
  font-size: 0.9rem;
}

.profileMenu {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.profileMenu li {
  position: relative; /* Necesario para usar ::before */
  padding: 10px 25px;
  font-size: 1rem;
  color: #6c757d;
  cursor: pointer;
  text-decoration: none;
}



.profileMenu li:hover {
  background-color: #e6f0ff;
  color: #f00;
}



.activeLink {
border-left: 2px solid #000  ;
color: #000;
}

.sideLink {
  text-decoration: none;
  color: #6c757d;
}

.activeLink  {
  color: #000;
  }

.buttonLogout {
  background-color: transparent;
  color: #6c757d;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.buttonLogout:hover {
  color: #f00;
}