/* Estilos generales */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.modalContent {
    background: #fff;
    padding: 2.5rem; /* Reducción de padding */
    border-radius: 8px;
    text-align: center;
    position: relative; /* Asegura que el botón de cierre esté dentro */
    width: 500px;
}

.modalCloseIcon {
    font-size: 1.2rem;
    background-color: #fff;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
  
.modalTitle {
    font-size: 1.5rem; /* Tamaño reducido */
    margin-bottom: 5px;
    font-weight: 100;
}

.modalSubtitle{
  font-size: 1rem;
  margin-bottom: 4rem;
  font-weight: 100;
}

.modalInput {
    width: 100%;
    padding: 0.8rem; /* Reducción de padding */
    margin-bottom: 1.5rem;
    margin-top: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem; /* Tamaño reducido */
}

.modalButton {
    background-color: #007bff; /* Azul predeterminado */
    color: white;
    padding: 10px 30px;
    width: 100%;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .modalButton:hover {
    background-color: #0056b3; /* Azul más oscuro */
  }
  
  .modalButton:disabled {
    background-color: #cccccc; /* Gris */
    cursor: not-allowed;
  }
  
  .modalInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 3px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    height: 5 0px;
    font-weight: 100;
    transition: border-color 0.3s ease;
    margin-top: 40px;
  }
  
  .modalInput:focus {
    border-color: #007bff; /* Azul al hacer focus */
  }
  
  .modalInputError {
    border-color: red;
  }
  
  .codeInputWrapper {
    position: relative;
  }
  
  .codeInput {
    width: 3.5rem;
    height: 5rem;
    font-size: 2rem;
    text-align: center;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    transition: border-bottom-color 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px;
    margin-top: 40px;
  }
  
  
  .codeInput:focus {
    border-color: #007bff;
  }
  
  .codeInputError {
    border-color: red;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-top: -8px;
    margin-bottom: 10px;
  }
  

.codeInputContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
}


.codeInput:focus {
    border-bottom-color: #007bff;
}

.underline {
    font-size: 1rem;
    color: #aaa;
    position: absolute;
    bottom: -12px;
    pointer-events: none;
}


.modalSecondaryButton {
  background-color: #dddddd;
  color: #555;
  padding: 10px;
  width: 100%;
  margin-top: 1rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modalSecondaryButton:hover {
  background-color: #bbbbbb;
}

.modalSecondaryButton:disabled {
  background-color: #eeeeee;
  cursor: not-allowed;
}
.lineSpacingEmail{
  margin-top: 10px;
}




.passwordInput { 
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 3px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    height: 5 0px;
    font-weight: 100;
    transition: border-color 0.3s ease;
}


.passwordTextInput {
  text-align: left;
  margin-bottom: 5px;
}

.NewPasswordTextInput {
  text-align: left;
  margin-top: 40px;
}



.textInformation  {
  color: #333;
  text-decoration: none;
}

.informationLink {
  text-decoration: none;
  color: #f50;
}